@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lexend+Deca:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --green: rgb(151, 176, 2);
  --black: rgb(11, 11, 11);
  --very-light-green: rgb(235, 237, 223);
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Fraunces", serif;
  padding-bottom: 50px;
  font-size: 40px;
  line-height: 60px;
}
h2 {
  font-family: "Fraunces", serif;
  padding-top: 20px;
}

.btn {
  width: 120px;
  height: 35px;
  font-size: 18px;
  background-color: var(--green);
  color: var(--very-light-green);
  letter-spacing: 1px;
  font-family: "Fraunces", serif;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.2);
  color: var(--black);
  background-color: var(--very-light-green);
}

/* HEARDER */
header {
  background-color: var(--black);
  height: 100px;
}
.nav__logo {
  height: 90px;
}

.hero {
  background-color: var(--very-light-green);
  max-width: 1800px;
}
/* HERO */
.hero {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 630px; */
}
.title {
  width: 40%;
}

/* APP */
.app {
  border: 3px solid black;
  background-color: white;
  border-radius: 20px;
  width: 30%;
}
.app__container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strength-bar__container {
  background-color: gainsboro;
  height: 6px;
  width: 99%;
  position: absolute;
  bottom: 0;
  left: 2px;
  border-radius: 10px;
}
.strength-bar {
  width: 0%;
  height: 100%;
  background-color: var(--green);
}
.result__container {
  width: 90%;
  height: 40px;
  border: 2px solid black;
  text-align: center;
  color: var(--black);
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 5px;
}
.result__error {
  color: red;
}
input[type="range"] {
  overflow: hidden;
  width: 100px;
  -webkit-appearance: none;
  background-color: var(--very-light-green);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #434343;
  box-shadow: -80px 0 0 80px var(--green);
}
.checkbox {
  accent-color: var(--green);
}
.note {
  padding: 5px 0 0 14px;
  font-size: 13px;
  border-top: 1px dashed black;
  margin-top: 20px;
  text-align: left;
}
.requirements {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
label {
  width: 60px;
}
.option,
.psw__length {
  display: flex;
  justify-content: space-between;
}
