@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lexend+Deca:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --green: #97b002;
  --black: rgb(11, 11, 11);
  --very-light-green: rgb(235, 237, 223);
  --greenish-yellow: #e1e587;
}

/* Gerenal Element */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Fraunces", serif;
  padding-bottom: 50px;
  font-size: 40px;
  line-height: 60px;
}
h2 {
  font-family: "Fraunces", serif;
  padding-top: 20px;
}

.btn {
  width: 120px;
  height: 35px;
  font-size: 18px;
  background-color: var(--green);
  color: white;
  letter-spacing: 1px;
  font-family: "Fraunces", serif;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.2);
  color: var(--black);
  background-color: var(--very-light-green);
}

/* HEARDER */
header {
  background-color: var(--black);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  height: 90px;
}
.header__nav {
  display: flex;
  color: white;
  list-style: none;
  gap: 30px;
  margin-right: 80px;
}
.header__nav li:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.open__btn {
  display: none;
}
.close__btn {
  display: none;
}

/* HERO */
.hero {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--very-light-green);
  /* height: 630px; */
}
.title {
  width: 40%;
}
.underlined {
  /*   background: red; */
  position: relative;
}
.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid var(--greenish-yellow);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}
.underline-mask:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid var(--green);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}
.underline-overflow {
  display: inline-flex;
  align-items: center;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  /* padding-bottom: clamp(1rem, 2vmin, 1rem); */
}
.underline-overflow:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 3.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid goldenrod;
}
/* APP */
.app {
  border: 3px solid black;
  background-color: white;
  border-radius: 20px;
  width: 35%;
}
.app__container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strength-bar__container {
  background-color: #dcdcdc;
  height: 6px;
  width: 99%;
  position: absolute;
  bottom: 0;
  left: 2px;
  border-radius: 10px;
}
.strength-bar {
  width: 0%;
  height: 100%;
  background-color: var(--green);
}
.result__container {
  width: 90%;
  min-height: 40px;
  border: 2px solid black;
  text-align: center;
  color: var(--black);
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 5px;
  word-wrap: break-word;
}
.result__error {
  color: red;
}
input[type="range"] {
  overflow: hidden;
  width: 150px;
  -webkit-appearance: none;
  background-color: var(--very-light-green);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #434343;
  box-shadow: -80px 0 0 80px var(--green);
}
.checkbox {
  accent-color: var(--green);
}
.note {
  padding: 5px 0 0 14px;
  font-size: 13px;
  border-top: 1px dashed black;
  margin-top: 20px;
  text-align: left;
}
.requirements {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.option,
.psw__length {
  display: flex;
  justify-content: space-between;
}
.histroy__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.histroy__list {
  padding: 10px;
  border: 2px solid black;
  list-style: none;
  position: absolute;
  border-radius: 30px;
  top: 60px;

  right: -13px;
  width: 100%;
  background-color: #e1e587;
  text-align: center;
}
.history__title {
  width: 300px;
  height: 35px;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--very-light-green);
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}
.history__title:hover {
  transform: scaleX(1.1);
}
.history__hidden {
  display: none;
  overflow: hidden;
}
.histroy__active {
  display: block;
}
/* Modal */
.modal {
  border: 2px solid black;
  width: 450px;
  padding: 15px;
  border-radius: 30px;
  background-color: whitesmoke;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal p {
  font-weight: 500;
  margin-bottom: 10px;
  color: black;
}
.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.register__form input {
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.overlay {
  position: fixed;
  background-color: rgba(235, 237, 223, 0.1);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}
.overlay__hidden,
.modal__hidden {
  visibility: hidden;
  opacity: 0;
}
.modal__btn__container {
  display: flex;
  justify-content: space-evenly;
}
.modal__btn__container button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Fraunces", serif;
}
.btn__register {
  background-color: var(--green);
  color: white;
  font-size: 18px;
}
.btn__cancel {
  background-color: var(--very-light-green);
  color: var(--green);
}
/* FOOTER */
footer {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px 40px 80px;
}
.footer__nav {
  list-style: none;
  text-align: center;
}
.footer__nav li {
  padding-bottom: 10px;
  cursor: pointer;
}
.footer__nav li:hover {
  color: white;
  transform: scale(1.3);
}
.contact__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact__container p {
  padding: 20px 0 20px 0;
  font-size: 25px;
}
.contact__logo img {
  width: 40px;
  cursor: pointer;
}
.contact__logo img:hover {
  transform: scale(1.3);
}
.copyright {
  margin-left: 40px;
}
.copyright a {
  text-decoration: none;
  color: black;
}
.footer__logo__container img {
  width: 100%;
}

/* Medium screen */
@media (max-width: 1180px) {
  /* Header */
  .hero {
    padding: 60px;
  }
  .title {
    width: 70%;
  }
  .app {
    width: 80%;
  }
  /* FOOTER */
  footer {
    flex-direction: column;
  }
  .footer__nav {
    margin-top: 20px;
  }
  .contact__container,
  .footer__logo__container {
    text-align: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  .nav__logo__container {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    position: relative;
  }
  .nav__logo {
    width: 150px;
    height: 60px;
  }
  .header__nav {
    padding: 15px;
    color: black;
    background-color: var(--greenish-yellow);
    border-radius: 20px;
    position: absolute;
    left: 20%;
    top: 50%;
    z-index: 10;
    width: 50%;
    text-align: center;
    display: none;
  }
  .header__nav li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .open__btn,
  .close__btn {
    position: absolute;
    width: 40px;
    right: 5%;
    top: 10%;
    cursor: pointer;
  }
  .open__btn {
    display: block;
  }
  .close__btn {
    display: none;
  }
  .hero {
    flex-direction: column;
    padding: 30px;
  }
  .app,
  .title {
    width: 100%;
  }
  .app {
    margin-top: 50px;
  }
  input[type="range"] {
    width: 120px;
  }
  .history__title {
    width: 270px;
    padding: 5px;
  }
  .histroy__list {
    top: 55px;
  }
  .copyright {
    margin: 0;
  }
  .modal {
    width: 75%;
  }
}
